.ms-viewheadertr th,
.ms-vhltr .ms-vh,
.ms-vhltr .ms-vh2 {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding: 0px !important;
}
.ms-vhltr .ms-vh,
.ms-vhltr .ms-vh2 {
  padding-right: 0 !important;
}
.ms-cui-tt-a {
  color: #333;
}
.ms-cui-tt {
  float: none !important;
}
