extends layout-static

block header
  nav.s-box.s-fixed
    .s-wrapper
      ul.s-nav
        li
          a.s-box-heading(href="#") 
            span.fa.fa-book
            |  Start.css
        li.s-dropdown
          a(href="#") Menu
          ul
            li
              a(href="index.html") Static
            li
              a(href="semantic.html") Semantic
block content
  .s-wrapper
    .s-row
      .s-sm-8.s-lg-9.s-col
        h1 Start.css
        p These are the temporary docs for Start.css. Eventually there will be something much better-looking here.

        hr

        h2#boxes Boxes
        p Boxes are the most versatile component of the Start library. These can function as navigation menus, toolboxes, or any generic container.

        h3 Navigation Boxes
        p Boxes for horizontal navigation should be filled with unordered lists (``ul``)

        nav.s-box
          ul.s-nav
            li
              a(href="#") Item
            li
              a.s-btn(href="#") Item

        pre &lt;nav class=&quot;s-box&quot;&gt;
          |   &lt;ul class=&quot;s-nav&quot;&gt;
          |     &lt;li&gt;
          |       &lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a class=&quot;s-btn&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          | &lt;/nav&gt;

        h4 Right-aligned
        p Use 
          code .s-right
          |  on the child ul to align right. 
          code li.s-box-heading
          |  will give you a formatted title.

        nav.s-box
          ul.s-nav
            li
              a(href="#") Item
            li
              a.s-btn(href="#") Item
          ul.s-nav.s-right
            li
              a.s-btn(href="#") Item

        pre &lt;nav class=&quot;s-box&quot;&gt;
          |   &lt;ul class=&quot;s-nav&quot;&gt;
          |     &lt;li&gt;
          |       &lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a class=&quot;s-btn&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;ul class=&quot;s-nav s-right&quot;&gt;
          |     &lt;li&gt;
          |       &lt;a class=&quot;s-btn&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          | &lt;/nav&gt;

        h4 Vertical

        p Add 
          code .s-vertical
          |  to 
          code .s-nav
          |  to align contents vertically.

        nav.s-box
          ul.s-nav.s-vertical
            li
              a(href="#") Item
            li
              a(href="#") Item

        pre &lt;nav class=&quot;s-box&quot;&gt;
          |   &lt;ul class=&quot;s-nav s-vertical&quot;&gt;
          |     &lt;li&gt;
          |       &lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          | &lt;/nav&gt;

        h2#browsers Browser Support 

        p Which browsers does start.css support? Latest.
        p IE11+, Chrome, Firefox 16+, and Safari (sort of) are all auto updating browsers. Because of this shift in the browser support ecosystem, we state the current latest browsers on the day of a Start.css stable release are the browsers that version supports. 
        p For older browser support, download an earlier version of Start.css.

        h2#buttons Buttons

        p Buttons should be either links, submit inputs, or html buttons.

        p
          a.s-btn(href="#") Button
          button.s-btn Button
          input(type="submit" value="Button" class="s-btn")

        pre &lt;a class=&quot;s-btn&quot; href=&quot;#&quot;&gt;Button&lt;/a&gt;
          | &lt;button class=&quot;s-btn&quot;&gt;Button&lt;/button&gt;
          | &lt;input class=&quot;s-btn&quot; type=&quot;submit&quot; value="button"/&gt;

        h2#endconcat End Concatenation

        p This is a small trick to prevent the last line of a paragraph from containing only one word.

        p So instead of:

        pre lorem ipsum dolor sit
          | amet

        p End concatenation produces:

        pre lorem ipsum dolor
          | sit amet

        p To use, simply add the class 
          code .s-endconcat
          |  or use the jQuery plugin

        pre $(element).s_endconcat()

        p Where 
          code element
          |  is the element to have enconcatenation applied.

        h2#grid Grid
        p Start uses a 12 column grid. To create a gridded row, start with an 
          code .s-row
          |  container.

        pre &lt;section class=&quot;s-row&quot;&gt;&lt;/section&gt;

        p Columns are defined with the 
          code .s-col
          |  class and with 
          code .s-x
          |  measuring classes where "x" is a number between 1-12.
        p Using 
          code .s-col
          |  without a measuring class will default to 
          code .s-12

        section.s-row
          .s-col.s-4
            .grid-example.s-box s-col s-4
          .s-col.s-8
            .grid-example.s-box s-col s-8
        br

        pre &lt;section class=&quot;s-row&quot;&gt;
          |   &lt;div class=&quot;s-col s-4&quot;&gt;s-col s-4&lt;/div&gt;
          |   &lt;div class=&quot;s-col s-8&quot;&gt;s-col s-8&lt;/div&gt;
          | &lt;/section&gt;

        h3 Other examples

        section.s-row
          .s-col
            .grid-example.s-box s-col
        br

        section.s-row
          .s-col.s-4
            .grid-example.s-box s-col s-4
          .s-col.s-4
            .grid-example.s-box s-col s-4
          .s-col.s-4
            .grid-example.s-box s-col s-4
        br

        section.s-row
          .s-col.s-3
            .grid-example.s-box s-col s-3
          .s-col.s-6
            .grid-example.s-box s-col s-6
          .s-col.s-3
            .grid-example.s-box s-col s-3
        br

        h3 Responsive Grid
        p The grid is designed to operate 
          em mobile-first
          | , so there is no class to target devices with widths less than 320px.
        p To specify a column size for a larger screen, use the additional size prefixes 
          code sm
          | , 
          code md
          | , 
          code lg
          | , and 
          code xl
          | .

        section.s-row
          .s-col.s-md-4
            .grid-example.s-box (s-col s-md-4) 4 columns in medium width
          .s-col.s-md-8
            .grid-example.s-box (s-col s-md-8) 8 columns in medium width
        br

        section.s-row
          .s-col
            .grid-example.s-box (s-col) Mobile devices tend to use one-column layouts more often.
          .s-col
            .grid-example.s-box (s-col) So why bother specifying every time?
          .s-col.s-lg-6
            .grid-example.s-box (s-col s-lg-6) Write only the classes needed for larger screens.
          .s-col.s-lg-6
            .grid-example.s-box (s-col s-lg-6) Keep your HTML tidy.
        section.s-row
          .s-col.s-lg-4
            .grid-example.s-box (s-col s-lg-4) Responsive design
          .s-col.s-lg-4
            .grid-example.s-box (s-col s-lg-4) is
          .s-col.s-lg-4
            .grid-example.s-box (s-col s-lg-4) easy.
        br

        h3 Bumping columns

        section.s-row
          .s-col.s-md-4.s-bump-md-8
            .s-box.grid-example .s-col.s-md-4.s-bump-md-8
        section.s-row
          .s-col.s-md-4
            .s-box.grid-example .s-col.s-md-4
          .s-col.s-md-3.s-bump-md-5
            .s-box.grid-example .s-col.s-md-3.s-bump-md-5
        section.s-row
          .s-col.s-md-11.s-bump-md-1
            .s-box.grid-example .s-col.s-md-11.s-bump-md-1

        h3 Container

        p To contain the page in a nice, centered wrapper, use 
          code .s-wrapper
        p By default, this will have no effect for pages under 1200px. Screens larger than this will keep your site in a 1200px wrapper with equal spacing on the left and right.
        p For different sizes, add an additional class with the form s-[size] where [size] is xs, sm, md, or lg.
        pre &lt;div class=&quot;s-wrapper s-lg&quot;&gt;&lt;/div&gt;

        h2#growls Growls
        p Growls are unobtrusive pop up messages called via JavaScript. A basic call might look like this:
        pre $.sGrowl({
          |    icon: 'save',
          |    title: 'Saved',
          |    text: 'Your document has been saved'  
          |  })
        p
          button.s-btn.s-blue(onclick="$.sGrowl({icon: 'save',title: 'Saved',text: 'Your document has been saved'})") Try it

        h3 Parameters
        table.s-table
          thead
            tr
              th Parameter
              th Default
              th Description
          tbody
            tr
              td
                code icon
              td &mdash;
              td Icon to appear before the heading. Choose from the 
                a(href="http://fontawesome.io/") Font Awesome 4 library
                |  without the preceding "fa-"
            tr
              td
                code title
              td &mdash;
              td Bold-faced title to appear on the first line.
            tr
              td
                code text
              td &mdash;
              td Main text under the title. HTML allowed.
            tr
              td
                code delay
              td (Infinite)
              td Delay in miliseconds before dismissing growl. Ignore this parameter to keep growl permanent.
            tr
              td
                code container
              td 
                code #s-growls
              td HTML element where growl should be sent. Write in CSS notation.
            tr
              td
                code color
              td
                code green
              td Color of growl (red/orange/yellow/green/blue/violet).
            tr
              td
                code class
              td &mdash;
              td Additional classes to apply to growl. Separate multiple classes with a space.

        h3 Advanced
        p Here is a growl that will appear in red in the container below and disappear after 3 seconds.
        .s-box.s-yellow#example-container 
          p Growl will appear above.
        pre $.sGrowl({
          |   color: 'red', 
          |   icon: 'book',
          |   title: 'Test',
          |   text: 'Testing...1, 2, 3', 
          |   delay: 3000, 
          |   container: '#example-container'
          | })
        p
          button.s-btn.s-blue(onclick="$.sGrowl({color: 'red', icon: 'book',title: 'Test',text: 'Testing...1, 2, 3', delay: 3000, container: '#example-container'})") Try it

        h2#images Images

        h3 Using images as thumbnails
        p Using a new class element of the 
          code .s-box
          |  block, we can easily create nicely-spaced left- or right-aligned thumbnail images.

        .s-box
          img.s-box-caption_left(src="img/flower.jpg" style="width: 64px")
          .s-box-caption_right
            h5 Flowers
            p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        pre &lt;div class=&quot;s-box&quot;&gt;
          |   &lt;img class=&quot;s-box-caption_left&quot; src=&quot;img/flowers.jpg&quot; /&gt;
          |   &lt;div class=&quot;s-box-caption_right&quot;&gt;
          |     &lt;h5&gt;Flowers&lt;/h5&gt;
          |     &lt;p&gt;Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

        .s-box
          img.s-box-caption_right(src="img/flower.jpg" style="width: 64px")
          .s-box-caption_left
            h5 Flowers
            p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        pre &lt;div class=&quot;s-box&quot;&gt;
          |   &lt;img class=&quot;s-box-caption_right&quot; src=&quot;img/flowers.jpg&quot; /&gt;
          |   &lt;div class=&quot;s-box-caption_left&quot;&gt;
          |     &lt;h5&gt;Flowers&lt;/h5&gt;
          |     &lt;p&gt;Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

        h2#modals Modals
        p Modals require just one element.

        .s-modal
          h4 Modal Title
          p Hello world

        h2#progress Progress
        p Use the default HTML5 
          code progress
          |  element with the 
          code .s-box
          |  class.
        progress.s-box.s-3(value="30" max="100")
        pre &lt;progress class="s-box s-3" value="30" max="100"&gt;&lt;/progress&gt;

        p Add 
          code .s-[color]
          |  for alternate colors.
        pre &lt;progress class="s-box s-red" value="30" max="100"&gt;&lt;/progress&gt;

        progress.s-box.s-red(value="30" max="100")
        progress.s-box.s-orange(value="30" max="100")
        progress.s-box.s-yellow(value="30" max="100")
        progress.s-box.s-green(value="30" max="100")
        progress.s-box.s-blue(value="30" max="100")
        progress.s-box.s-violet(value="30" max="100")
        progress.s-box.s-white(value="30" max="100")
        progress.s-box.s-blue.s-clear.s-bordered(value="30" max="100")

        h2#tiles Tiles
        p Tiles are attractive boxes for featuring content.

        .s-row
          .s-col.s-4
            .s-tile
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-red
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-orange
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-yellow
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-green
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-blue
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-violet
              h5 Learn More
              p Learn about the great features we have to offer.
          .s-col.s-4
            .s-tile.s-clear
              h5 Learn More
              p Learn about the great features we have to offer.

        pre &lt;main class=&quot;s-row&quot;&gt;
          |   &lt;section class=&quot;s-col s-4&quot;&gt;
          |     &lt;article class=&quot;s-tile&quot;&gt;
          |       &lt;h1&gt;Learn more&lt;/h1&gt;
          |       &lt;p&gt;Learn more about the great features we have to offer.&lt;/p&gt;
          |     &lt;/article&gt;
          |     &lt;article class=&quot;s-tile s-red&quot;&gt;
          |       &lt;h1&gt;Learn more&lt;/h1&gt;
          |       &lt;p&gt;Learn more about the great features we have to offer.&lt;/p&gt;
          |     &lt;/article&gt;
          |   &lt;/section&gt;
          | &lt;/main&gt;

        p The full list of color options is:
        ul
          li (none) Defaults to dark grey.
          li Red
          li Orange
          li Yellow
          li Green
          li Blue
          li Violet
          li Clear


        h2#typography Typography
        p Typography relies mostly on standard HTML5 elements.
        p Use hx (where x = 1-5) for headings and p, etc for basic text formatting.
        h1 Heading1
        h2 Heading2
        h3 Heading3
        h4 Heading4
        h5 Heading5
        p 
          strong Strong 
          | and 
          em emphatic 
          | paragraph with 
          a(href="#") Link
          | .

        h3 Supplementary styling
        p Use 
          code .s-lead
          |  for leading paragraph text.

        p.s-lead Once upon a time,
        p there lived a fairy.

        pre &lt;p class=&quot;s-lead&quot;&gt;Once upon a time,&lt;/p&gt;
          | &lt;p&gt;there lived a fairy.&lt;/p&gt;



      .s-sm-4.s-lg-3.s-col
        .s-box.s-box_vertical
          ul
            li.s-box-heading
              p Directory
            li
              a(href="#boxes") Boxes
            li
              a(href="#browsers") Browser Support
            li
              a(href="#buttons") Buttons
            li
              a(href="#colors") Colors
            li
              a(href="#endconcat") End Concatenation
            li
              a(href="#grid") Grid
            li
              a(href="#growls") Growls
            li
              a(href="#images") Images
            li
              a(href="#modals") Modals
            li
              a(href="#progress") Progress
            li
              a(href="#tiles") Tiles
            li
              a(href="#typography") Typography
