extends layout-semantic

block header

block content
  .page
    .example-6
      form

        input(type="checkbox")
        label amet lorem

        label Lorem ipsum
        input(type="text")

        label Dolor sit
        input(type="text")

        input(type="checkbox")
        label amet lorem

        label Checkboxes

        input(type="checkbox")
        label amet lorem

        input(type="checkbox")
        label amet lorem
               
        input(type="checkbox")
        label ipsum dolor sit

        label Radio

        input(type="radio" name="a")
        label amet lorem

        input(type="radio" name="a")
        label ipsum dolor sit
               
        input(type="radio" name="a")
        label amet lorem

        a.button(href="#") Button
        input.button(type="submit") Button

    .example-6
      form.form-horizontal
        label Lorem ipsum
        input(type="text")

        label Dolor sit
        input(type="text")

        label Checkboxes

        .form-group
          input(type="checkbox")
          label amet lorem

          input(type="checkbox")
          label amet lorem
               
          input(type="checkbox")
          label ipsum dolor sit

        label Radio

        input(type="radio" name="a")
        label amet lorem

        input(type="radio" name="a")
        label ipsum dolor sit
               
        input(type="radio" name="a")
        label amet lorem

        a.button(href="#") Button
        input.button(type="submit") Button


  form
    label Lorem ipsum
    input(type="text")

    label Dolor sit
    input(type="text")

    label Checkboxes

    input(type="checkbox")
    label amet lorem

    input(type="checkbox")
    label amet lorem
           
    input(type="checkbox")
    label ipsum dolor sit

    label Radio

    input(type="radio" name="a")
    label amet lorem

    input(type="radio" name="a")
    label ipsum dolor sit
           
    input(type="radio" name="a")
    label amet lorem

    a.button(href="#") Button
    input.button(type="submit") Button
