extends layout-semantic

block header
  nav.nav.fixed.dark
    .wrapper
      ul
        li
          a.nav-link
            span.fa.fa-book
            |  Start.css
        li
          a.nav-link(href="index.html") Static
        li
          a.nav-link(href="semantic.html") Semantic
      ul.right
        li
          a.button.btn-blue(href="#") Download

block content
  .page

    .sidebar
      nav.nav
        ul.vertical
          li
            h4 Directory
          li
            h5 Components
          li
            a.nav-link(href="#boxes") Boxes and Bars
          li
            a.nav-link(href="#browsers") Browser Support
          li
            a.nav-link(href="#buttons") Buttons
          li
            a.nav-link(href="#endconcat") End Concatenation
          li
            a.nav-link(href="#grid") Grid
          li
            a.nav-link(href="#growls") Growls
          li
            a.nav-link(href="#images") Images
          li
            a.nav-link(href="#lists") Lists
          li
            a.nav-link(href="#modals") Modals
          li
            a.nav-link(href="#progress") Progress
          li
            a.nav-link(href="#tiles") Tiles
          li
            a.nav-link(href="#typography") Typography
          li
            h5 Effects
          li
            a.nav-link(href="#fixed-pane") Fixed Pane

    .main
      h1 Start.css
      p Start is very flexible CSS framework.

      header#setup.sectionHeader
        h2 Setup

      ol
        li Start is designed to accept custom themes out of the box. It even includes a few.
        li Can be used statically (just pop in a .css file) or semantically (compile to classes using includes)

      header#compileStructure.sectionHeader
        h2 Compile Structure

      p Unlike many CSS frameworks, Start is designed to work with theme files. As such, it uses its own theme file out-of-the-box. 

      h3 File structure in a nutshell

      pre theme/
        |   default.sass
        |   dark.sass
        |   light.sass
        | style.sass

      p Here's the gist:
      ol
        li Everything in 
          strong lib
          |  shouldn't be edited.
        li
          strong theme/[chosen theme].sass 
          |  defines your overall look and feel. Colors, typography, etc, but does not assign styles to the DOM.
        li
          strong style.sass
          |  will assign styles to dom elements.

      h3 Simple example

      h5 TODO

      header#boxes.sectionHeader
        h2 Boxes and Bars
      p Boxes are the most versatile component of the Start library. These can function as navigation menus, toolboxes, or any generic container.

      h3 Navigation Bars
      p Combine 
        code box()
        |  with 
        code nav()
        |  to create a navigation structure.

      nav.nav
        ul
          li
            a.nav-link Item
          li
            a.button Item

      pre &lt;nav class=&quot;nav&quot;&gt;
        |   &lt;ul&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |   &lt;/ul&gt;
        | &lt;/nav&gt;
      pre
        | .nav       { @include box(light); }
        | .nav > ul  { @include nav(); }
        | .button   { @include btn(); }
        | .nav-link { @include nav-link(); }

      h4 Right-aligned
      p Pass in 
        code right
        |  as a parameter of  
        code nav()
        |  to push the nav to the right.

      nav.nav
        ul.right
          li
            a.nav-link Item
          li
            a.button Item

      pre &lt;nav class=&quot;nav&quot;&gt;
        |   &lt;ul class=&quotright&quot;&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |   &lt;/ul&gt;
        | &lt;/nav&gt;
      pre
        | .nav            { @include box(light); }
        | .nav > ul.right { @include nav(right); }
        | .nav-link       { @include nav-link(); }
        | .button         { @include btn(); }

      h4 Modifiers
      p Use the 
        code .active
        |  class to indicate a currently active menu item.

      nav.nav
        ul
          li
            a.nav-link Item 1
          li
            a.nav-link.active Item 2
          li
            a.nav-link Item 3

      pre &lt;nav class=&quot;nav&quot;&gt;
        |   &lt;ul&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class= &quot;active nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |   &lt;/ul&gt;
        | &lt;/nav&gt;

      h4 Dark

      nav.nav.dark
        ul.right
          li
            a.nav-link Item
          li
            a.button Item

      pre &lt;nav class=&quot;nav dark&quot;&gt;
        |   &lt;ul class=&quotright&quot;&gt;
        |     &lt;li&gt;
        |       &lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |   &lt;/ul&gt;
        | &lt;/nav&gt;
      pre
        | .nav.dark       { @include box(dark); }
        | .nav > ul.right { @include nav(right); }
        | .nav-link       { @include nav-link(); }
        | .button         { @include btn(); }

      h4 Vertical

      p Use 
        code nav(vertical)
        |  to align contents vertically.

      nav.nav
        ul.vertical
          li
            a.nav-link Item
          li
            a.nav-link Item

      pre &lt;nav class=&quot;nav&quot;&gt;
        |   &lt;ul class=&quot;vertical&quot;&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |     &lt;li&gt;
        |       &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Item&lt;/a&gt;
        |     &lt;/li&gt;
        |   &lt;/ul&gt;
        | &lt;/nav&gt;
      pre
        | .nav               { @include box(#EEEEEE); }
        | .nav > ul.vertical { @include nav(vertical); }

      header#browsers.sectionHeader
        h2 Browser Support 

      p Which browsers does start.css support? Latest.
      p IE11+, Chrome, Firefox 16+, and Safari (sort of) are all auto updating browsers. Because of this shift in the browser support ecosystem, we state the current latest browsers on the day of a Start.css stable release are the browsers that version supports. 
      p For older browser support, download an earlier version of Start.css.

      header#buttons.sectionHeader
        h2 Buttons

      p Buttons should be either links, submit inputs, or html buttons.

      p
        a.button Button
        button.button Button
        input(type="submit" value="Button" class="button")

      pre &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Button&lt;/a&gt;
        | &lt;button class=&quot;button&quot;&gt;Button&lt;/button&gt;
        | &lt;input class=&quot;button&quot; type=&quot;submit&quot; value="Button"/&gt;
        | 
        | .button { @include btn(); }

      h3 Colors

      p Pass in a variable or custom color into 
        code btn()

      a.button Default
      a.btn-red Red 
      a.btn-orange Orange
      a.btn-yellow Yellow
      a.btn-green Green
      a.btn-blue Blue
      a.btn-violet Violet
      a.btn-clear Clear
      a.btn-dark Dark

      pre &lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Default&lt;/a&gt;
        | &lt;a href=&quot;#&quot; class=&quot;btn-red&quot;&gt;Red&lt;/a&gt;
        | &hellip;
        | &lt;a href=&quot;#&quot; class=&quot;btn-clear&quot;&gt;Clear&lt;/a&gt;
        | &lt;a href=&quot;#&quot; class=&quot;btn-dark&quot;&gt;Dark&lt;/a&gt;
        | 
        | .button    { @include btn(); }
        | .btn-red   { @include btn($red); }
        | &hellip;
        | .btn-clear { @include btn($clear); }
        | .btn-dark  { @include btn($dark); }

      header#endconcat.sectionHeader
        h2 End Concatenation

      p This is a small trick to prevent the last line of a paragraph from containing only one word.

      p So instead of:

      pre lorem ipsum dolor sit
        | amet

      p End concatenation produces:

      pre lorem ipsum dolor
        | sit amet

      p Using the jQuery plugin is simple:

      pre $(element).s_endconcat()

      p Where 
        code element
        |  is the element to have enconcatenation applied.

      header.sectionHeader#grid
        h2 Grid
      p Start uses a 12 column grid. To create a gridded row, start with a container inheriting the 
        code row()
        |  styling.

      pre &lt;main&gt;&lt;/main&gt;
        | 
        | main { @include row(); }

      p Columns are defined with the 
        code col()
        |  mixin and 
        code cols(x)
        |  measuring styles where "x" is a number between 1-12.
      p Using 
        code cols(x)
        |  without a measuring class will default to 
        code cols(12)

      main.example-main
        .example-sidebar
          .grid-example .sidebar
        .example-content
          .grid-example .content
      br

      pre &lt;main&gt;
        |   &lt;div class=&quot;sidebar&quot;&gt;.sidebar&lt;/div&gt;
        |   &lt;div class=&quot;content&quot;&gt;.content&lt;/div&gt;
        | &lt;/main&gt;
        | 
        | main { @include row(); }
        | .sidebar { 
        |   @include col();
        |   @include cols(4);
        | }
        | .content {
        |   @include col();
        |   @include cols(8);
        | }

      h3 Other examples

      section.example-main
        .example-col
          .grid-example
            code col()
      br

      section.example-main
        .example-4
          .grid-example
            code col() + cols(4) 
        .example-4
          .grid-example
            code col() + cols(4) 
        .example-4
          .grid-example
            code col() + cols(4) 
      br

      section.example-main
        .example-3
          .grid-example
            code col() + cols(3)
        .example-6
          .grid-example
            code col() + cols(6)
        .example-3
          .grid-example
            code col() + cols(3)
      br

      p 
        code cols(x)
        |  does not inherit anything from 
        code col()
        | . This allows you to use 
        code cols(x)
        |  purely as a sizing tool.

      h3 Responsive Grid
      p Columns will target all screen sizes by default. To target one screen size, add the min-width of that screen as a second parameter of 
        code cols(x, y)
        |, where y is the width in pixels.

      section.example-main
        .example-md-4
          .grid-example
            code col() + cols(4, 768px)
            | Full width on mobile, 1/3 on screens >768px.
        .example-md-8
          .grid-example
            code col() + cols(8, 768px)
            | Full width on mobile, 2/3 on screens >768px.
      pre &lt;main&gt;
        |   &lt;div class=&quot;sidebar&quot;&gt;Full width on mobile, 1/3 on screens &gt;768px.&lt;/div&gt;
        |   &lt;div class=&quot;content&quot;&gt;Full width on mobile, 2/3 on screens &gt;768px.&lt;/div&gt;
        | &lt;/main&gt;
        | 
        | main { @include row(); }
        | .sidebar { 
        |   @include col();
        |   @include cols(4, 768px);
        | }
        | .content { 
        |   @include col();
        |   @include cols(8, 768px);
        | }
      br

      h4 Use as many responsive style imports as you want.

      section.example-main
        .example-md-4_2
          .grid-example
            pre col() 
              | + cols(4, 768px) 
              | + cols(6, 1024px)
            | Sidebar.
        .example-md-8_2
          .grid-example
            pre col() 
              | + cols(8, 768px)
              | + cols(6, 1024px)
            | Content. 
      pre &lt;main&gt;
        |   &lt;div class=&quot;sidebar&quot;&gt;Sidebar.&lt;/div&gt;
        |   &lt;div class=&quot;content&quot;&gt;Content.&lt;/div&gt;
        | &lt;/main&gt;
        | 
        | main { @include row(); }
        | .sidebar { 
        |   @include col();
        |   @include cols(4, 768px);
        |   @include cols(6, 1024px);
        | }
        | .content { 
        |   @include col();
        |   @include cols(8, 768px);
        |   @include cols(6, 1024px);
        | }
      br

      h4 Use variables to consistently target screen sizes
      pre .content { 
        |   @include col();
        |   @include cols(6, $screen-sm);
        |   @include cols(8, $screen-md);
        |   @include cols(9, $screen-lg);
        |   @include cols(10, $screen-xl);
        | }

      h3 Bumping columns
      p Bump columns over without creating empty columns using 
        code bump()

      section.example-main
        .example-4-b8
          pre col() 
            | + cols(4) 
            | + bump(8)
      section.example-main
        .example-4
          pre col() 
            | + cols(4)
        .example-3-b5
          pre col() 
            | + cols(3)
            | + bump(5)
      br

      h5 Mixing bumps, columns, and responsive classes
      p This column is full on mobile, bumped half on medium screens, and bumped 1/3 on large screens.

      section.example-main
        .example-bumptodeath
          pre col() 
            | + cols(6, 768px)
            | + bump(6, 768px)
            | + cols(8, 1024px)
            | + bump(4, 1024px)

      h3 Wrappers and Frames
      p There are two important high-level containers to consider, wrappers and frames.
      p 
        strong Wrappers
        |  simply set a max width for your content, centering it if the screen exceeds that width. If you want a background color on your content, apply this to your wrapper, not the frame. The frame can be reused to apply identical margins to nested elements and shouldn't have much styling involved.
      p
        strong Frames
        |  are optional and create padding on the left and right of the content. Remember sections defined in columns will automatically have left and right padding. If you need to align elements elsewhere with that padding, simply put them in a column that is 12 wide.

      h4 Wrapper
      p To contain the page in a nice, centered wrapper, use 
        code wrapper()
      p By default, this will have no effect for pages under 1200px. Screens larger than this will keep your site in a 1200px wrapper with equal spacing on the left and right.
      p For different sizes, add an additional class with the form s-[size] where [size] is xs, sm, md, or lg.
      pre &lt;body&gt;
        |   &lt;div class=&quot;wrapper&quot;&gt;        
        |     &lt;main&gt;
        |       &lt;aside&gt;
        |         &lt;h5&gt;Sidebar&lt;/h5&gt;
        |       &lt;/aside&gt;
        |       &lt;section&gt;
        |         &lt;h1&gt;Main section&lt;/h1&gt;
        |       &lt;/section&gt;
        |     &lt;/main&gt;
        |   &lt;/div&gt;
        | &lt;/body&gt;
      pre .wrapper { @include wrapper(); }
        | main     { @include row(); }
        | aside    { 
        |   @include col();
        |   @include cols(4);
        | }
        | section { 
        |   @include col();
        |   @include cols(8);
        | }
      p Try out this page as an example.

      h4 Frames

      p Frames are an optional element to give your page a little more margin.

      h5 Without frame

      .wrapper(style="background-color: #EEEEEE")
        .page
          .example-3 3 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .example-3 3 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .example-6 6 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      pre &lt;div class=&quot;page&quot;&gt;
        |   &lt;div class=&quot;row&quot;&gt;
        |     &lt;div class=&quot;col3&quot;&gt;
        |       3 columns
        |     &lt;/div&gt;
        |     &lt;div class=&quot;col3&quot;&gt;
        |       3 columns
        |     &lt;/div&gt;
        |     &lt;div class=&quot;col9&quot;&gt;
        |       9 columns
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;

        pre .page        { @include wrapper(); }
          | .row         { @include row(); }
          | .col3, .col9 { @include col(); }
          | .col3        { @include cols(3); }
          | .col9        { @include cols(9); }

      h5 With frame

      .wrapper(style="background-color: #EEEEEE")
        .frame
          .page
            .example-3 3 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .example-3 3 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .example-6 6 columns: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      pre &lt;div class=&quot;page&quot;&gt;
        |   &lt;div class=&quot;frame&quot;&gt;
        |     &lt;div class=&quot;row&quot;&gt;
        |       &lt;div class=&quot;col3&quot;&gt;
        |         3 columns
        |       &lt;/div&gt;
        |       &lt;div class=&quot;col3&quot;&gt;
        |         3 columns
        |       &lt;/div&gt;
        |       &lt;div class=&quot;col9&quot;&gt;
        |         9 columns
        |       &lt;/div&gt;
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;

        pre .page        { @include wrapper(); }
          | .frame       { @include frame(50px); }
          | .row         { @include row(); }
          | .col3, .col9 { @include col(); }
          | .col3        { @include cols(3); }
          | .col9        { @include cols(9); }


      header#growls.sectionHeader
        h2 Growls
      p Growls are unobtrusive pop up messages called via JavaScript. A basic call might look like this:
      pre $.sGrowl({
        |    icon: 'save',
        |    title: 'Saved',
        |    text: 'Your document has been saved'  
        |  })
      p
        button.s-btn.s-blue(onclick="$.sGrowl({icon: 'save',title: 'Saved',text: 'Your document has been saved', delay: 1000})") Try it        
        button.s-btn.s-clear(onclick="$.sGrowl({icon: 'save',title: 'Error',text: 'Not really an error message, just demonstrating a growl.', color: 'red'})") No delay

      p Because it's never necessary to manually create the growl markup, growls are automatically created with the class 
        code .s-growl
        | .

      h3 Parameters
      table
        thead
          tr
            th Parameter
            th Default
            th Description
        tbody
          tr
            td
              code icon
            td &mdash;
            td Icon to appear before the heading. Choose from the 
              a(href="http://fontawesome.io/") Font Awesome 4 library
              |  without the preceding "fa-"
          tr
            td
              code title
            td &mdash;
            td Bold-faced title to appear on the first line.
          tr
            td
              code text
            td &mdash;
            td Main text under the title. HTML allowed.
          tr
            td
              code delay
            td (Infinite)
            td Delay in miliseconds before dismissing growl. Ignore this parameter to keep growl permanent.
          tr
            td
              code container
            td 
              code #s-growls
            td HTML element where growl should be sent. Write in CSS notation.
          tr
            td
              code color
            td
              code green
            td Color of growl (red/orange/yellow/green/blue/violet).
          tr
            td
              code class
            td &mdash;
            td Additional classes to apply to growl. Separate multiple classes with a space.

      h3 Advanced
      p Here is a growl that will appear in red in the container below and disappear after 3 seconds.
      .s-box.s-yellow#example-container 
        p Growl will appear above.
      pre $.sGrowl({
        |   color: 'red', 
        |   icon: 'book',
        |   title: 'Test',
        |   text: 'Testing...1, 2, 3', 
        |   delay: 3000, 
        |   container: '#example-container'
        | })
      p
        button.s-btn.s-blue(onclick="$.sGrowl({color: 'red', icon: 'book',title: 'Test',text: 'Testing...1, 2, 3', delay: 3000, container: '#example-container'})") Try it

      header#images.sectionHeader
        h2 Images

      h3 Using images as thumbnails
      p Using a new class element of the 
        code .s-box
        |  block, we can easily create nicely-spaced left- or right-aligned thumbnail images.

      img.imgBox(src="img/flower.jpg" style="width: 64px")
      .imgBox-content
        h5 Flowers
        p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      pre &lt;img class=&quot;imgBox&quot; src=&quot;img/flowers.jpg&quot; /&gt;
        | &lt;div class=&quot;imgBox-caption&quot;&gt;
        |   &lt;h5&gt;Flowers&lt;/h5&gt;
        |   &lt;p&gt;Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
        | &lt;/div&gt;
        | 
        | .imgBox         { @include imgBox(); }
        | .imgBox-caption { @include imgBox-content(); }

      img.imgBox_right(src="img/flower.jpg" style="width: 64px")
      .imgBox-content
        h5 Flowers
        p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      pre &lt;img class=&quot;imgBox_right&quot; src=&quot;img/flowers.jpg&quot; /&gt;
        | &lt;div class=&quot;imgBox-caption&quot;&gt;
        |   &lt;h5&gt;Flowers&lt;/h5&gt;
        |   &lt;p&gt;Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
        | &lt;/div&gt;
        | 
        | .imgBox_right   { @include imgBox(right); }
        | .imgBox-caption { @include imgBox-content(); }

      h4 Nesting

      img.imgBox(src="img/flower.jpg" style="width: 64px")
      .imgBox-content
        h5 Flowers
        p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      img.imgBox(src="img/flower.jpg" style="width: 64px")
      .imgBox-content
        h5 Flowers
        p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        img.imgBox(src="img/flower.jpg" style="width: 64px")
        .imgBox-content
          h5 Flowers
          p Flowers are now on sale. Get your beautiful gift of flowers today. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      header#lists.sectionHeader
        h2 Lists

      h3 Unstyled
      p For plain lists with proper spacing and no bullets, use 
        code list_plain()

      h4 Normal list

      ul
        li Some item
        li
          a(href="#") Some link
        li
          a(href="#") Another link     

      h4 Unstyled list

      ul.plain
        li Some item
        li
          a(href="#") Some link
        li
          a(href="#") Another link

      pre &lt;ul class=&quot;plain&quot;&gt;
        |   &lt;li&gt;Some item&lt;/li&gt;
        |   &lt;li&gt;
        |     &lt;a href=&quot;#&quot;&gt;Some link&lt;/a&gt;
        |   &lt;/li&gt;
        |   &lt;li&gt;
        |     &lt;a href=&quot;#&quot;&gt;Another link&lt;/a&gt;
        |   &lt;/li&gt;
        | &lt;/ul&gt;
      pre ul.plain {
        |   @include list_plain;
        | }

      header#modals.sectionHeader
        h2 Modals
      p Modals require just one element.

      pre &lt;div class=&quot;modal&quot;&gt;&lt;/div&gt;
        | 
        | .modal { @include modal(); }

      p Fill with regular HTML

      pre &lt;div class=&quot;modal&quot;&gt;
        |   &lt;h4&gt;Modal Title&lt;/h1&gt;
        |   &lt;p&gt;Hello world&lt;/p&gt;
        | &lt;/div&gt;

      .modal#modal-modal1
        h4 Modal Title
        p Hello world

      a.button#modal1 Try it

      h3 Easy styling

      p Modals will recognize HTML5's 
        code header
        | , 
        code main
        | , and 
        code footer
        | .

      .modal#modal-modal2
        header
          h4 Modal Title
        main
          p Hello world
        footer
          a.button Save

      pre &lt;div class=&quot;modal&quot;&gt;
        |   &lt;header&gt;
        |     &lt;h4&gt;Modal Title&lt;/h1&gt;
        |   &lt;/header&gt;
        |   &lt;main&gt;
        |     &lt;p&gt;Hello World&lt;/p&gt;
        |   &lt;/main&gt;
        |   &lt;footer&gt;
        |     &lt;a class=&quot;button&quot;&gt;Save&lt;/a&gt;
        |   &lt;/footer&gt;
        | &lt;/div&gt;

      a.button#modal2 Try it

      header#progress.sectionHeader
        h2 Progress
      p Use the default HTML5 
        code progress
        |  element with the 
        code .s-box
        |  class.
      progress.s-box.s-3(value="30" max="100")
      pre &lt;progress class="s-box s-3" value="30" max="100"&gt;&lt;/progress&gt;

      p Add 
        code .s-[color]
        |  for alternate colors.
      pre &lt;progress class="s-box s-red" value="30" max="100"&gt;&lt;/progress&gt;

      progress.s-box.s-red(value="30" max="100")
      progress.s-box.s-orange(value="30" max="100")
      progress.s-box.s-yellow(value="30" max="100")
      progress.s-box.s-green(value="30" max="100")
      progress.s-box.s-blue(value="30" max="100")
      progress.s-box.s-violet(value="30" max="100")
      progress.s-box.s-white(value="30" max="100")
      progress.s-box.s-blue.s-clear.s-bordered(value="30" max="100")

      header.sectionHeader#tiles
        h2 Tiles
      p Tiles are attractive boxes for featuring content.

      .example-main
        .example-sidebar
          .tile
            h4 Learn More
            p Learn about the great features we have to offer.
            a.button Read More
        .example-sidebar
          .tile-red
            h4 Learn More
            p Learn about the great features we have to offer.
            a.button.btn-red Read More
        .example-sidebar
          .tile-orange
            h4 Learn More
            p Learn about the great features we have to offer.
            a.button.btn-orange Read More
        .example-sidebar
          .tile-yellow
            h4 Learn More
            p Learn about the great features we have to offer.
        .example-sidebar
          .tile-green
            h4 Learn More
            p Learn about the great features we have to offer.
        .example-sidebar
          .tile-blue
            h4 Learn More
            p Learn about the great features we have to offer.
        .example-sidebar
          .tile-violet
            h4 Learn More
            p Learn about the great features we have to offer.
        .example-sidebar
          .tile-clear
            h4 Learn More
            p Learn about the great features we have to offer.

      pre &lt;main class=&quot;row&quot;&gt;
        |   &lt;section class=&quot;column&quot;&gt;
        |     &lt;article class=&quot;tile&quot;&gt;
        |       &lt;h4&gt;Learn more&lt;/h1&gt;
        |       &lt;p&gt;Learn more about the great features we have to offer.&lt;/p&gt;
        |     &lt;/article&gt;
        |     &lt;article class=&quot;tile-red&quot;&gt;
        |       &lt;h4&gt;Learn more&lt;/h1&gt;
        |       &lt;p&gt;Learn more about the great features we have to offer.&lt;/p&gt;
        |     &lt;/article&gt;
        |   &lt;/section&gt;
        | &lt;/main&gt;
      pre .row { @include row(); }
        | .column { 
        |   @include col();
        |   @include cols(4);
        | }
        | .tile { @include tile(); }
        | .tile-red { @include tile($red); }

      p The full list of color options is:
      ul
        li (none) Defaults to dark grey.
        li Red
        li Orange
        li Yellow
        li Green
        li Blue
        li Violet
        li Clear
      p Or pass in a custom hex, rgb, hsl, etc.


      header#typography.sectionHeader
        h2 Typography
      p Typography relies mostly on standard HTML5 elements.
      p Use hx (where x = 1-5) for headings and p, etc for basic text formatting.
      h1 Heading1
      h2 Heading2
      h3 Heading3
      h4 Heading4
      h5 Heading5
      p 
        strong Strong 
        | and 
        em emphatic 
        | paragraph with 
        a Link
        | .

      p To enforce base typography on other elements, include 
        code base-typography()
        | .

      pre &lt;div class=&quot;announcement&quot;&gt;Hello world&lt;/div&gt;
        | 
        | .announcement { @include base-typography(); }

      h1 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      h2 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      h3 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      h4 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      h5 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      h1 Effects

      header#fixed-pane.sectionHeader
        h2 Fixed Pane
      p The fixed pane is a full window wrapper to affix elements to the screen while still obeying the grid.
      p Effectively, this creates a full fixed pane over the entire screen in which elements can be arranged as they are anywhere else on your page.
      p
        strong For example,
        |  see the sidebar on this page.

      p Say you had this layout, where a sidebar appears on 1/3 of the screen:

      pre &lt;body&gt;
        |   &lt;main&gt;
        |     &lt;aside&gt;Sidebar&lt;/aside&gt;
        |     &lt;/section&gt;Main&lt;/section&gt;
        |   &lt;/main&gt;
        | &lt;/body&gt;
        | 
        | body { @include wrapper(); }
        | main { @include row(); }
        | aside {
        |   @include col();
        |   @include cols(4);
        | }
        | section {
        |   @include col();
        |   @include cols(8);
        | }

      p When you scroll down on the page, the sidebar will scroll with it. Here's how we can pop it out:

      pre &lt;body&gt;
        |   &lt;div class=&quot;fixed&quot;&gt;
        |     &lt;div class=&quot;body&quot;&gt;
        |       &lt;main&gt;
        |         &lt;aside&gt;Sidebar&lt;/aside&gt;
        |       &lt;/main&gt;
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        |   &lt;main&gt;
        |     &lt;/section&gt;Main&lt;/section&gt;
        |   &lt;/main&gt;
        | &lt;/body&gt;
        | 
        | body, .body { @include wrapper(); }
        | main        { @include row(); }
        | aside {
        |   @include col();
        |   @include cols(4);
        | }
        | section {
        |   @include col();
        |   @include cols(8);
        |   @include bump(4);
        | }
        | .fixed { @include fixed-pane(); }

      h3 Playing nicely with mouse events
      p The full screen nature of the fixed pane can cause annoyances, such as causing every element selection from Chrome's web inspector to select the whole page instead of the element being targeted.
      p To fix this, use the jQuery plugin 
        code $.sFixedPane()
        | .
      pre $('.fixed').sFixedPane()
      p This will allow elements in the pane to scroll when overflowing the viewport but also to "hide" click interactions when interacting outside the fixed pane's elements.


block docready
  script
    $('#modal1').click(function() { $('#modal-modal1').fadeIn('fast'); })
    $('#modal2').click(function() { $('#modal-modal2').fadeIn('fast'); })
    $.sModal({element: '.modal'})
    $('.fixed-pane').sFixedPane()
