extends layout-unknown

block content
  header.top
    .frame
      h1 Blog
      ul.plain.plain_vertical
        li
          a.button.active(href="#") All Posts
        li
          a.button(href="#") Announcements 
        li
          a.button(href="#") Events 
        li
          a.button(href="#") White Papers
        li
          a.button(href="#") Articles 
  main
    .frame
      - for(var i=0; i<5; ++i) {
        .row.ie-row
          section.sidebar.ie-col-4
            header.sectionHeading
              p.lead Articles
            h1 Client Feedback on Factor Analysis Tool
            p
              span.label lorem
              span.label ipsum
              span.label dolor
              span.label sit
              span.label amet
            p 
              small By 
                a(href="#") Janet Doe
          section.content.ie-col-8
            header.sectionHeading
              p.lead March 12, 2004
            article
              p lorem ipsum dolor sit amet
      - }
