extends layout

block content
  .frame
    section.row
      article.carousel
        h1 Approach
        h4 Lorem ipsum dolor sit amet
        p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.row
      article.blog
        h5 Latest from the Blog
        .row
          .blog-post
            img(src="http://placehold.it/250x150")
            .blog-post-frame
              h5 Lorem
          .blog-post
            img(src="http://placehold.it/250x150")
            .blog-post-frame
              h5 Lorem
          .blog-post
            img(src="http://placehold.it/250x150")
            .blog-post-frame
              h5 Lorem
      article.events
        h5 Events
        .events-event
          aside.events-event-date 5
          main.events-event-description Lorem ipsum
        .events-event
          aside.events-event-date 5
          main.events-event-description Lorem ipsum
        p
          a(href="#") All events
    section.row
      article.process-text
        h1 Our Team & Process
        h4 We have assembled a multi-disciplinary team of experts to help build the next generation of AMS Products and Services.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        p
          a.button(href="#") Learn more about our team & approach &raquo;
      article.process-graphic
        img(src="")
    section.row
      article.community
        h1 Community
