extends layout2

block content
  section.row
    article.carousel
      .row
        aside.carousel-text
          .carousel-text-box
            h2 Lorem ipsum sit etat dolor amet, consecteur adispiscing elit amet.
            p Our mision is to build a unified, highly scalable technology platform that empowers the extended AM Solutions team to dynamically deliver tailored. 
          a.button Read the full story
            span.bigArrow &raquo;
  // section.status System status &check;
  section.tiles
    .tile
      img(src="../img/blog1.png")
    .tile
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile.tile_light
      h1 APR
      p Upcoming Events
    .tile.tile_lightest
      h1 2
      p.dark 9:30 AM
      p All-hands meeting 
      p
        small
          a(href="#") Add to Calendar
    .tile
      p
        small April 02, 2004
      p Lorem ipsum dolor amet, consectetur adispiscing. Vivamus rhoncus consequat purus a ultrices. 
      p
        small
          a(href="#") 3 Comments
    .tile
      img(src="../img/blog3.png")
    .tile.tile_lightest
      h1 13
      p.dark 3:00 PM
      p Alt Beta brown bag discussion
      p
        small
          a(href="#") Add to Calendar
    .tile.tile_lightest
      h1 24
      p.dark 9:30 AM
      p Dynamic Withdrawl brown bag discussion
      p
        small
          a(href="#") Add to Calendar
  section.process
    .frame
      section.row
        article.process-text
          h4 Our Team & Process
          p.lead We have assembled a multi-disciplinary team of experts to help build the next generation of AMS Products and Services. Donec lacinia arcu eu elit laoreet iaculis lorem dolor amet. Donec non tortor sit amet eros blandit sit vulputate. Aenean commodo varius.
          p
            a.button(href="#") Learn more &raquo;
  section.community
    .tile.tile_double-tall.tile_light(style="float: right")
      blockquote.small "I feel so proud of all that we've accomplished, and can't wait for the next project!"
        p
          small Rob Stevens, IT
    .tile.tile_double-long
      h5 Engaging the community
      p The AMS Platform Team is actively engaging with the JP Morgan FA and IT communities. Lorem ipsum sit dolor amet eros blandit amet.
    .tile
      p lorem
    .tile
      p lorem
    .tile.tile_double-long.tile_lightest
      blockquote "Working in this new way has made me realize we are most effective when we collaborate."
        p
          small Mike Grant, FA

  section.getInvolved
    .frame
      section.row
        article.getInvolved-left
          h2 Get Involved
          p Our mission is to build a unified, highly scalable technology platform that empowers the extended AM Solutions tema to dynamically deliver tailored.
          h5 Send us your input & ideas
          p.small Our mission is to build a unified, highly scalable technology platform that empowers the extended AM Solutions tema to dynamically deliver tailored.
          p
            img(src="")
            span AMS_Ideas@jpmorgan.com
        article.getInvolved-right
          p Subscribe to the AMS Platform Newsletter
          p
            input(type="text" placeholder="Name")
          p
            input(type="email" placeholder="Email")
          p.submit
            a.button(href="#") Submit 
              span.bigArrow &raquo;
