extends layout2

block content
  section.row
    article.carousel
      .frame
        .row
          aside.carousel-text
            .carousel-text-box
              h2 Lorem ipsum sit etat dolor amet, consecteur adispiscing elit amet.
              p Our mision is to build a unified, highly scalable technology platform that empowers the extended AM Solutions team to dynamically deliver tailored. 
            a.button Read the full story
              span.bigArrow &raquo;
  section.status System status &check;
  section.tiles
    .tile
      img(src="../img/blog1.png")
    .tile
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile.tile_light
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile.tile_lightest
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile
      img(src="../img/blog3.png")
    .tile.tile_lightest
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
    .tile.tile_lightest
      h1 APR
      p
        small April 02, 2004
      p Lorem ipsum dolor sit amet consectetur adispiscing
      p
        small
          a(href="#") Be the first to comment
  section.process
    .frame
      section.row
        article.process-text
          h4 Our Team & Process
          p.lead We have assembled a multi-disciplinary team of experts to help build the next generation of AMS Products and Services. Donec lacinia arcu eu elit laoreet iaculis lorem dolor amet. Donec non tortor sit amet eros blandit sit vulputate. Aenean commodo varius.
          p
            a.button(href="#") Learn more about our team & approach &raquo;
  section.community
    .frame
      section.row
        article.community-content
          h4 Engaging the community
          p The AMS Platform Team is actively engaging with the JP Morgan FA and IT communities
          aside.quotation
            img(src="../img/testimonial1.png")
            blockquote Working in this new way has made me realize we are most effective when we collaborate
              small Mike Grant, FA
          aside.quotation
            img(src="../img/testimonial2.png")
            blockquote I feel so proud of all that we've accomplished, and can't wait for the next project! 
              small Rob Stevens, IT
  section.getInvolved
    .frame
      section.row
        article.getInvolved-left
          h2 Get Involved
          p Our mission is to build a unified, highly scalable technology platform that empowers the extended AM Solutions tema to dynamically deliver tailored.
          h5 Send us your input & ideas
          p 
            small Our mission is to build a unified, highly scalable technology platform that empowers the extended AM Solutions tema to dynamically deliver tailored.
          p
            img(src="")
            span AMS_Ideas@jpmorgan.com
        article.getInvolved-right
          p Subscribe to the AMS Platform Newsletter
          p
            input(type="text" placeholder="Name")
          p
            input(type="email" placeholder="Email")
          p
            a.button(href="#") Submit 
              span.bigArrow &raquo;
