!!!
html
  head
    link(rel="stylesheet", href="../css/style.css")
    block variables
    title 
      =title
  body
    .wrapper
      block hero
    header.mainHeader
      nav.mainNav
        .wrapper.wrapper_clear
          ul
            li
              a.nav-link(href="index.html") JP Morgan
            li 
              a.nav-link(href="index.html" class=(title === 'home' ? 'active' : '')) Home 
            li 
              a.nav-link(href="blog.html" class=(title === 'blog' ? 'active' : '')) Blog
            li 
              a.nav-link(href="events.html" class=(title === 'events' ? 'active' : '')) Events
    .wrapper.section
      block content
    
    footer.mainFooter
      .wrapper.wrapper_clear
        ul.mainFooter-column
          li
            a(href="#") JP Morgan
        ul.mainFooter-column
          li
            a(href="#") (c) 2014 JP Morgan
          li
            a(href="#") About J.P. Morgan
          li
            a(href="#") J.P. Morgan
        ul.mainFooter-column
          li
            a(href="#") Privacy Statement
          li
            a(href="#") Privacy Notice
          li
            a(href="#") Security
          li
            a(href="#") Terms of Use
        ul.mainFooter-column
          li
            a(href="#") Terms of Use
          li
            a(href="#") Accessibility
          li
            a(href="#") Site Map
        ul.mainFooter-column
          li
            a(href="#") Copyright 
          li
            a(href="#") Facebook 
          li
            a(href="#") Twitter
          li
            a(href="#") Facebook 
          li
            a(href="#") Google+ 
          li
            a(href="#") Blog 
