@import "../app/assets/stylesheets/themes/ams"

// Spacing and margins

.wrapper, .footer
  @include wrapper()
.frame
  @include frame()
.clear
  clear: both

// Grid

.row, 
.events-event
  @include row()

.row-full,
.carousel,
.community, 
.right-half, 
.left-half,
.footer-column,
.events,
.blog-post,
.process-text,
.process-graphic,
.footer-column,
.getInvolved,
.events-event-date,
.events-event-description,
.carousel-text,
.getInvolved-left,
.getInvolved-right,
.date,
.description,
.content,
.sidebar
  @include col()

.row-full, 
.carousel, 
.community,
.process-text,
.getInvolved
  @include cols(12)

.right-half
  @include cols(10)

.description
  @include cols(9)

.events-event-description,
.content
  @include cols(8)

.events-event-date,
.sidebar
  @include cols(4)

.carousel-text,
.getInvolved-left,
.getInvolved-right
  @include cols(6)

.footer-column, 
.events,
.blog-post,
.date
  @include cols(3)

.left-half
  @include cols(2)

// Navigation

.bar
  @include box()
  margin-bottom: 0
.menu
  @include nav()
.menu-right
  @include nav(right)
.menu-link
  @include nav-link()
.footer
  background-color: $darkGrey
  padding: $space 0
.plain
  @include list-plain()
  > li > a
    @include nav-link()
.header
  background-image: url('../img/header.png')
  background-size: 100% 100%
  .bar
    background: transparent
hr
  margin: 0
hr.orange
  border-width: 6px
  border-color: $orange

// Typography

.muted
  color: #BBB
  + h4
    margin-top: 2px

// Content

.left-half
  height: 90px
  background-image: url('../img/logo.png')
  background-repeat: no-repeat
  background-position: 39px 12px
  background-size: 65%
.carousel
  .carousel-text
    text-align: right
    padding-top: 55px
  .carousel-text-box
    text-align: left
  background-image: url('../img/woman.jpg')
  background-position: 0px -30px
  background-size: 100%
  height: 560px
.carousel-text-box
  background-color: rgba(255, 255, 255, 0.5)
  padding: ($space/2) $space
  margin-bottom: ($space/2)
  @include border-radius(5px)
  h2
    color: $blue
    font-size: 36px
    line-height: 38px
  p
    font-size: 21px
    line-height: 26px
.blog
  padding-top: $space
  padding-bottom: $space
.blog-post
  img
    width: 100%
    margin-bottom: -5px
  > img
    @include border-radius(3px 3px 0px 0px)
.blog-post-frame
  padding: ($space/4) ($space/2)
  background-color: white
  height: 130px
  img
    display: inline-block
    width: auto
    vertical-align: middle
    margin-right: 5px
    + span
      display: inline-block
      vertical-align: middle
  small
    line-height: normal
  p
    margin: 0
.blog-post-comments
  border-top: 1px solid #DDD
  @include border-radius(0 0 3px 3px)
  @include box-shadow(0px 3px 0px #CCC)
.blog-post-comments
  height: auto
  @include border-radius(0px 0px 3px 3px)
.blog-post-heading
  height: auto
  @include border-radius(3px 3px 0px 0px)
  h4
    margin-bottom: 0
.blog-post-event
  height: auto
  border-bottom: 1px solid #DDD
.process,
.getInvolved
  background-size: 100% 100%
  padding-top: $space
  p, h4, h2, h5
    color: white
.process
  background-image: url('../img/jewel-dark.png')
  p.lead
    font-weight: 200
    font-size: 36px
    line-height: 39px
    text-align: left
  p
    text-align: right
.getInvolved
  background-image: url('../img/jewel-light.png')
  padding-bottom: $space
.getInvolved-left
  border-right: 1px solid rgba(255, 255, 255, 0.15)
.date
  text-align: center
  color: $blue
  font-size: 12px
  font-weight: 600
.date-number
  font-size: 30px
  color: $blue
.description
  display: block
.community-content
  padding-top: $space
  padding-bottom: $space
.article
  margin-bottom: (3*$space)
  @include frame()
  padding-top: $space
  padding-bottom: $space
  border: 1px solid #AAA


// Buttons

.button
  @include btn($blue)

// Images

img.responsive
  width: 100%