@import "../app/assets/stylesheets/themes/ams"

// Spacing and margins

.wrapper, .footer
  @include wrapper()
.frame
  @include frame()
.clear
  clear: both

// Grid

.row
  @include row()

.row-full,
.carousel,
.process,
.community, 
.blog, 
.right-half, 
.left-half,
.footer-column,
.events,
.blog-post,
.process-text,
.process-graphic,
.footer-column,
.getInvolved
  @include col()

.row-full, 
.carousel, 
.process, 
.community
  @include cols(12)

.blog, 
.right-half
  @include cols(9)

.blog-post
  @include cols(4)

.getInvolved, 
.process-text, 
.process-graphic
  @include cols(6)

.footer-column, 
.events,
.left-half
  @include cols(3)

// Navigation

.bar
  @include box()
.menu
  @include nav()
.menu-right
  @include nav(right)
.menu-link
  @include nav-link()
.footer
  background-color: $darkGrey
  padding: $space 0
.plain
  @include list-plain()
  > li > a
    @include nav-link()

// Typography


// Content
.blog-post
  img
    width: 100%
    margin-bottom: -5px
.blog-post-frame
  padding: 15px
  border: 2px solid #CCC
  margin-bottom: $space