@import "../app/assets/stylesheets/themes/ams"

// Spacing and margins

.wrapper, .footer
  @include wrapper()
.frame
  @include frame()
.clear
  clear: both

// Grid

.row, 
.events-event
  @include row()

.row-full,
.carousel,
.process,
.community, 
.blog, 
.right-half, 
.left-half,
.footer-column,
.events,
.blog-post,
.process-text,
.process-graphic,
.footer-column,
.getInvolved,
.events-event-date,
.events-event-description,
.carousel-text
  @include col()

.row-full, 
.carousel, 
.process, 
.community
  @include cols(12)

.blog, 
.right-half
  @include cols(9)

.events-event-description
  @include cols(8)

.events-event-date
  @include cols(4)

.getInvolved, 
.process-text, 
.process-graphic,
.carousel-text
  @include cols(6)

.footer-column, 
.events,
.left-half,
.blog-post
  @include cols(3)

// Navigation

.bar
  @include box()
.menu
  @include nav()
.menu-right
  @include nav(right)
.menu-link
  @include nav-link()
.footer
  background-color: $darkGrey
  padding: $space 0
.plain
  @include list-plain()
  > li > a
    @include nav-link()

// Typography


// Content

.carousel
  .carousel-text
    text-align: right
  .carousel-text-box
    text-align: left
.carousel-text-box
  background-color: rgba(255, 255, 255, 0.5)
  padding: ($space/2)
  margin-bottom: ($space/2)
  h2
    color: $blue

.blog-post
  img
    width: 100%
    margin-bottom: -5px
.blog-post-frame
  padding: ($space/4)
  border: 2px solid #CCC
  margin-bottom: $space
  background-color: white
.process
  background-size: 100% 100%
  padding-top: $space
  p, h4
    color: white
  p.lead
    font-weight: 200
    font-size: 36px
.process
  background-image: url('../img/jewel-dark.png')


// Buttons

.button
  @include btn($blue)