@import "../lib/variables"

// VARIABLE OVERRIDES
// ==================

// MEASUREMENTS
// ------------

// From InDesign Doc

@mixin headingHero()
  font-size: 60px
  line-height: 60px

@mixin heading()
  font-size: 38px
  line-height: 34px

@mixin lead()
  font-size: 20px
  line-height: 22px

@mixin paragraph()
  font-size: 16px
  line-height: 18px

@mixin small()
  font-size: 12px
  line-height: 14px

// COLORS
// ------

$blue:                     rgb(74, 151, 189)
$blueLight:                rgb(124, 184, 225)
$blueDark:                 rgb(26, 50, 77)
$blue1:                    rgb(55, 121, 174)
$blue2:                    rgb(33, 79, 110)
$orange:                   rgb(242, 131, 36)

$body-background:          white

$navbar-background:        $blue
$navbar-linkColor:         white

$navbar-linkColor_hover:   $orange

$navbar-background_active: rgba(255, 255, 255, 0.5)
$navbar-linkColor_active:  white

$wrapper-background:       white

// TYPOGRAPHY
// ----------

$linkColor:                $blue
$font-baseColor:           $black
$font-sans:                Proxima Nova, 'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif
$font-default:             $font-sans
$font-baseSize:            16px

@import "../lib/core"

// MIXIN OVERRIDE
// =================
// Uncomment and override where needed by theme.

// GRID
// ----

@mixin wrapper($maxWidth:960px)
  @include wrapper-default($maxWidth)

@mixin frame($spacing: ($space))
  @include frame-default($spacing)

@mixin row()
  @include row-default()

@mixin col()
  @include col-default()

@mixin cols($x, $minWidth: 0)
  @include cols-default($x, $minWidth)

@mixin bump($x, $minWidth: 0)
  @include bump-default($x, $minWidth)

@mixin section() 
  @include section-default() 

// TYPOGRAPHY
// ----------

h1, h2, h3, h4, h5
  @include h1-to-h5-default
  font-family: 'Proxima Nova'

@mixin base-typography()
  @include base-typography-default()
  @include paragraph()

p, em, strong, i, b, ul, ol, li, table, blockquote, pre, table, code
  @include base-typography()

p.lead
  font-size: 20px
  line-height: 22px

p small, small, small p
  font-size: 12pt
  line-height: 14pt

li
  margin-bottom: 0
  
@mixin link-styles()
  @include link-styles-default()
  
a
  @include link-styles()
  text-decoration: none

body
  @include body-default()

h1.hero
  @include headingHero()
  font-weight: bold

h1
  @include heading()
  font-weight: 600

hr
  border-color: #DDD

blockquote
  @include blockquote-default()

code, pre
  @include pre-default()

code
  @include code-default()

@mixin section-header()
  @include section-header-default()

@mixin label()
  @include label-default()
  background-color: #D5D5D5
  font-size: 12px
  line-height: 14px

// BOXES
// -----

@mixin box($position: '')
  @include box-default($position)
  @include border-radius(0px)

// BUTTONS
// -------

@mixin btn($color: darken($lightGrey, 10%))
  @include btn-default($color)
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0) inset)
  @include border-radius(0px)
  padding: ($space/2) ($space * 2/3)
  font-weight: 100

// IMAGES
// ------

@mixin imgBox($position: '') 
  @include imgBox-default($position)

@mixin imgBox-content()
  @include imgBox-content-default()

// MODAL
// -----

@mixin modal()
  @include modal-default()

// NAVS
// ----

@mixin nav($position: '')
  @include nav-default($position)

@mixin nav-link()
  @include nav-link-default()

@mixin list_plain()
  @include list_plain-default()

// SECTION
// -------

@mixin section()
  @include section-default()

// TABLE
// -----

@mixin table()
  @include table-default()

// TILES
// -----

@mixin tile($color: $darkGrey)
  @include tile-default($color)

// FORMS
// -----

@mixin form-horizontal()
  @include form-horizontal-default()
@mixin form-group()
  @include form-group-default()